body {
    /* background-image: url("https://images.unsplash.com/photo-1534766438357-2b270dbd1b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"); */
       /*background-image: url("https://images.wallpaperscraft.com/image/blueberries_cups_berries_150713_1920x1080.jpg");*/
       /* https://images.unsplash.com/photo-1529767367174-535729449d71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80 */
       font-family: "Nunito", sans-serif;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: stretch;
    background-image: url('../resources/patrick-tomasso-GXXYkSwndP4-unsplash.jpg');  
  }
#big{
    font-weight: bold;
    font-size: 5rem;

}
.content button:hover{
  background-color:  #e94747;

  
}

    
  .content {
    text-align: center;
    margin-top: 20px;
    
   
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
    color: #e94747; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Parisienne', cursive;
    font-weight: 500px;
  }
  #font{
    font-family: 'Chelsea Market', cursive;
  }
  .content button{
    font-family: "Nunito", sans-serif;
    color:#f7d4d4;
    background-color:  rgba(0, 0, 0, 0.5);
  }