<%- include("partials/header.ejs") %>
<link rel="stylesheet" href="\stylesheet\landingmain.css">

<div class="content">
    <p id="big"><i class="fas fa-quote-left"></i>  El Chico  <i class="fas fa-quote-right"></i></p>
    <p id="font">---We speak the good food language---</p>
    <a href="/home"><button class="btn ">CLICK HERE TO EXPLORE MORE ABOUT US</button></a>  
</div>
<%- include("partials/footer.ejs") %>